<!-- Search -->
<div id="courses">
<div class="row">
  <div class="column-16">
    <div class="search">
      <input type="text" ng-model="search" name="search" placeholder="Find courses" />
    </div>

    <div class="btn btn-small">
      <i class="icon-plus"></i>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table-full">

       <thead>
          <tr>

            <td>Term</td>
            <td>Course</td>
            <td>GE</td>
            <td>Title</td>
            <td>Sections</td>
            <td>Likes</td>
            <td><!-- for like button --></td>
          </tr>
       </thead>

       <tbody>
        <tr ng-repeat="course in courses">

            <td ng-click="go(course)"><span class="term Spring">Spring 2015</span></td>
            <td ng-click="go(course)">{{course.courseId}}</td>
            <td ng-click="go(course)">{{course.GEs}}</td>
            <td ng-click="go(course)">{{course.name}}</td>
            <td ng-click="go(course)" ng-click="go(course)">{{course.sections.length}}</td>
            <td ng-click="go(course)">{{course.likes}} likes</td>
            <td><i class="icon-cog"></i></td>
        </tr>

       </tbody>
    </table>
   </div>
  </div>